html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
*{
	border:0px;
	padding:0px;
}
body {
	background-color: #5CA3D6;
	font-family: Arial;
	color: #eff6fb;
	font-size: 18px;
	display:flex;
	flex-wrap: wrap;
}
div{
	width: 400px;
	height: 700px;
	margin-top: 30px;
	margin-left: 65px
}
input{
	width:400px;
	height:50px;
	background-color: #5CA3D6;
	outline:white solid 3px;
	margin-bottom: 40px;
	font-family: Arial;
	color: #eff6fb;
	font-size: 18px;
	text-indent: 10px;
	margin-top: 10px
}
input:focus{
	outline-color: #2c6c9b;
}
textarea{
	outline:white solid 3px;
	margin-bottom: 40px;
	background:transparent;
	margin-top: 10px;
	font-family: Arial;
	color: #eff6fb;
	font-size: 18px;
	text-indent: 10px;
	padding-top: 10px;
}
textarea:focus{
	outline-color: #2c6c9b;
}
select{
	width:400px;
	height:30px;
	font-family: Arial;
	color: #eff6fb;
	font-size: 21px;
	background-color: #5CA3D6;
	margin-bottom: 40px;
	outline:grey solid 1px;
	margin-top: 10px;
}
input::-webkit-input-placeholder {
  color: #2c6c9b;
  font-style: italic;
  font-size: 22px;
}
#bio{
	width:400px;
	height:200px;
}
#aff{
	width:400px;
	height:200px;
}
#comments{
	width:400px;
	height:200px;
}